body {
  font-family: Calibri;
}



#title {
  margin: -20px;
  padding: 20px;
  padding-top: 30px;
  margin-bottom: 20px;
  background-color: #eac2ff;
  position: fixed;
  width: 100%;
  top: 0px;
}


.elements {
  display: grid;
  grid-template-columns: auto auto auto;
  margin-top: 80px;
}

.product {
  width: 95%;
  border-radius: 30px;
  padding-bottom: 30px;
  margin: 20px;
  margin-left: 15px;
  background-color: rgb(239, 202, 252);
  border: 2px solid #b9b9b9;
}

.filler {
  width: 95%;
  border-radius: 30px;
  padding-bottom: 30px;
  margin: 20px;
  margin-left: 15px;
}

.product_img {
  height: 250px;
  width: 100%;
  object-fit: cover;
  border-radius: 30px 30px 0 0;
  margin: 0px;
}

.product_info {
  padding: 0 15px 0 15px;
}

.links {
  display: flex;
}

.links a {
  margin-right: 10%;
  margin-left: 4%;
  padding: 0 10px 0 10px;
  color: black;
  text-decoration: none;
  border: 1px solid #a1a1a1;
  border-radius: 30px;
  background-color: #f2dcff;
}

.links a:hover {
  color: #833bc0;
}
