body {
  font-family: Calibri;
}

#home {
  margin: -20px;
  padding: 20px;
  padding-top: 15px;
  padding-bottom: 0px;
  background-color: #eac2ff;
  position: fixed;
  width: 100%;
  top: 0px;
  display: flex;
  border-bottom: 4px solid #b2b2b2;
}

input {
  margin-left: 7%;
  width: 10%;
  height: 10%;
  margin-top: 28px;
  padding-bottom: 5px;
  padding-top: 5px;
  font-family: Calibri;
  font-size: 1em;
  background-color: #f3dfff;
  border-radius: 5px;
  border: 1px solid #8c8c8c;
}

input:hover {
  cursor: pointer;
  background-color: #dfb4ff;
}
